@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

@mixin flex($x: false, $y: false) {
  display: flex;
  @if($x) { align-items: center; }
  @if($y) { justify-content: center; }
}

$nav-height: 80px;

* { transition: all 0.3s; font-family: 'Open Sans', sans-serif; }
div.flex-container {
  @include flex(false, true);
  align-items: flex-start;
  position: absolute;
  top: $nav-height;
  left: 0;
  height: calc(100vh - #{$nav-height});
  width: 100vw;
  overflow-x: scroll;
  & > * { flex: 1; text-align: center; }
}

div.panel {
  @include flex(false, true);
  margin: 5vh 0;
  border-right: 1px #999 solid;
  min-height: 70vh;
  &:last-child { border: none; }
  h3 { font-size: 2em; font-weight: 300; }
  & > div { width: 70%; }
}

ul { list-style-type: none; padding: 0; }
li {
  @include flex(true, true);
  &, * { font-size: 1.2em; }
  padding: 10px 0;
  border-bottom: 1px #999 solid;
  height: 90px;
  box-sizing: border-box;

  &:last-child { border: none; }
  input {
    padding: 10px 10px;
    border: none;
    outline: none;
    transition: all 0.3s;
    width: 80%;
    &:focus {
      box-shadow: 4px 6px 20px 6px rgba(0, 0, 0, 0.11);
    }
  }

  input, select {
    box-shadow: 2px 3px 10px 3px rgba(0, 0, 0, 0.15);
  }
}

div.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: $nav-height;
  padding: 0 5vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.15);
  background-color: white;
  z-index: 5000;
}
